<!--header section--->

<header>
    <div class="menu-btn">
            <li>
            <a href="/artikel">artikel</a>
            </li>
            <li>
            <a href="/postingan/index">postingan</a>
            </li>
            <li>
            <a href="/about">about</a>
            </li>
            <li>
            <a href="/">home</a>
            </li>
        </div>
</header>
<div class="about-main">
    <h1>Ini Postinganku</h1>
</div>


<% postingan1="belajar Ruby On Rails" %>
<% postingan2="Macam-macam Bahasa Pemrograman" %>

<%= postingan1 %><br>  
<%= postingan2 %>

<div class="main post-index">
     <div class="container">
     <div class="post-index-item">
            <%= postingan1 %>
    </div>
    </div>
</div>





