<!--header section--->
       <header>
        <a href="#" class="logo"><span>SYA</span>FIQ</a>
        <ul class="navbar">
            <li><a href="#home" class="active">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">contact</a></li>       
        </ul>

        <div class="menu-btn">
            <span>INTRO</span>
            <div class="bx bx-menu"  id="menu-icon">  </div>
        </div>
       </header>

       <!--home section-->
       <section class="home" id="home">
            <div class="home-text">
                <span>software Developer</span>
                <h1>MUHAMMAD SYAFIQ ANDRIANTO</h1>
                <p>I'm a designer, illustrator, and creator of courses,
                    templates, wireframe kits,and the occasionally useful
                    side-project</p>
                <div class="main-btn">
                    <a href="#" class="btn">download cv</a>
                    <a href="#" class="btn two">hire me now</a>  
                </div>
            </div>
            <div class="home-img">
                <img src="aku.jpeg">
            </div>
           
           
       </section>         
    
        <!--about section-->
        <section class="about" id="about">
            <div class="img">
                <img src="aku2.jpg">
            </div>
            <div class="about-text">
                <h1>ABOUT ME</h1>
                <p>Nama panggilan saya Syafiq. sebelum masuk ke idbc saya dulu sudah pernah bekerja
                    di po hiba grup sekitar 1 tahuan saya bekerja menjadi supir bis di Hiba Group.
                    selain disitu saya juga sudah pernah bekerja di pt.indomarco prismatama, disini saya bekerja
                    kurang lebih sekitar 6 bulan saja karena gak sesuai gaji sama kehidupan saya. dan akhirnya
                    saya balik ke Po.Hiba Group lagi.Saya anggap ini pekerjaan yang saya sukai. selain saya anggap sebagai
                    pekerjaan disini saya anggap juga Hobi.
                </p>
            </div>
        </section>
       
        <!--about contact-->
        <section class="contact" id="contact">
            <div class="contact-text">
                <h1>contact me</h1>
                <div class="share">
                    <div class="social">
                     <i class='bx bxl-instagram'></i>
                     <i class='bx bxl-telegram' ></i>
                     <i class='bx bxl-whatsapp'></i>
                     <i class='bx bxl-github'></i>
                    </div>
                </div>
               <p>copyright 2023. MsShop Savage</p>
            </div>
        </section>